#MAC
.DS_Store

#Eclipse
bin/
.settings
.classpath
.project
.metadata# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath#MAC
.DS_Store


